body{
    text-align: center;
    font-size: large;
    font-weight: 500;
    font-style: normal; 
    background-color: royalblue;
    
}
@keyframes header {
    from {background-color: rebeccapurple;}
    to {background-color: rosybrown;}
}
#head{
    display: inline-block;
    border: 10px solid salmon;
    border-radius: 20px;
    background-color: rebeccapurple;
    color:ghostwhite;
    transition-property: width height;
  transition-duration: 2s;
  transition-timing-function: linear;
   transition-delay: 1s;
   transform: 2s;
    animation-name: header;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 500px;
}
#head:hover{
    transform: rotate(-360deg);
}

#rules{
    height: auto;
    width: auto;
    background-color: blanchedalmond;
    color: black;
    border: 10px ridge chocolate;
    border-radius: 20px;
    transform: 2s;
    animation-name: rule;
    animation-duration: 5s;
    animation-iteration-count: infinite;
     transition-duration: 2s;
  transition-timing-function: linear;
    
}
#rules:hover{
    transform: rotate(-360deg);
}
#play:hover{
    transform: rotate(-360deg);
}
#play{
    height: auto;
    width: 100px;
    background-color: greenyellow;
    border: 10px ridge chocolate;
    border-radius: 20px;
    animation-name: play;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
     transition-duration: 2s;
  transition-timing-function: linear;
  transform: 2s;
    
}
@keyframes rule {
    from {background-color: blanchedalmond;}
    to {background-color: green;}
}
@keyframes play {
    from {background-color: greenyellow;}
    to {background-color: crimson;}
}